/* /// BODY ///////////////////////// */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

p,
label,
button {
    font-size: small;
}


::placeholder {
    font-size: smaller;
}

/* /// NAV ///////////////////////// */
header {
    height: 100vh;
    width: auto;
}

nav ul li:first-of-type {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    padding-left: 50px;
    float: left;
}


nav ul li {
    float: right;
    padding: 5px 50px 5px 0px;

}

nav ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    border-bottom: solid 1px grey;
    overflow: hidden;
}

nav a:link {
    text-decoration: none;
    color: black;
}

nav a:visited {
    color: black;
}

.active {
    font-weight: bold;
}

nav a:hover {
    font-weight: bold;
}


/* /// CSS ANIMATION HEADER ////////////*/

html {
    height: 100vh;
}

.bg {
    animation: slide 5.8s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(243, 247, 245) 50%, rgb(197, 219, 252) 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 6s;
}

.bg3 {
    animation-duration: 6.5s;
}


@keyframes slide {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(20%);
    }
}


/* /// FOOTER ///////////////////////// */

footer {
    border-top: solid 1px black;
    display: flex;
    width: 100%;
    flex-direction: row;
}

footer a {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    flex: 1;
    padding: 30px 0 30px 80px;

}

footer a:link {
    color: black;
    text-decoration: none;
}

footer a:visited {
    color: black;

}

footer p {
    flex: 1;
    text-align: right;
    padding: 30px 80px 30px 0;
}